In [585]:
import pandas as pd
import numpy as np

df=pd.read_csv('data1.csv')
df.columns=['ID','Name','Email','Phone_no','Country', 'Age','Salary','Join_Date']
df.sample(12)

,ID,Name,Email,Phone_no,Country,Age,Salary,Join_Date
1191,1022,Amy Turner,matthew51@yahoo.com,001-271-000-8549,Canada,NaN,64056.0,15-03-2022
869,924,Lindsey Wright,kmurray@lewis.info,571-611-7675,USA,NaN,-2636.0,2021/07/15
776,545,Sally Hunter,pdominguez@hotmail.com,318-805-8521,Germny,NaN,12638.0,2020-12-03
959,191,Dennis Carroll,shermanjade@gallegos.com,NaN,UK,NaN,NaN,2021/07/15
932,24,Jill Walker,heather71@gibson-howard.org,352.653.0971x00274,India,NaN,27511.0,2012-08-20 00:14:31
1178,296,Lindsay Orozco,bryanbrianna@johnson.com,014.763.8611x94386,UAS,NaN,NaN,2021/07/15
1081,1135,Denise Reid,ahernandez@fernandez-hood.net,9748403350,Canada,NaN,199550.0,2021/07/15
10,1171,Courtney Lang,tylerstrickland@garcia.org,001-704-935-2301x685,United Kngdom,51.0,NaN,2021/07/15
1058,473,Casey Kennedy,nicholasmorgan@jones-mullins.info,+1-186-500-9175x46764,USA,NaN,5013.0,2020-07-13 19:32:02
449,583,Sharon Allen,cgordon@quinn-king.com,200-548-7046x08923,Pak,NaN,3916.0,2021/07/15
735,963,Christina Gonzalez,ghoover@woodard-ryan.com,598.875.6824x597,UAS,NaN,7098.0,2025-02-03 09:00:46
22,1119,Susan Williams,bcole@yahoo.com,001-533-001-1402x279,Germny,22.0,162941.0,2021-04-01

In [586]:
# Cleaning Name section
df['Name']=(df['Name']
            .str.title()
            .str.strip(' ,.')
            .replace([np.nan,'','unknown'],np.nan))

df['Name'].head(13)

0            Heather Davila
1         Margaret Campbell
2           Veronica Wilson
3           Matthew Mcguire
4               Anne Gentry
5          Peter Washington
6           William Sanchez
7           Andrew Schwartz
8                 Becky May
9                John Moore
10            Courtney Lang
11            Marcia Bryant
12    Michael Richardson Jr
Name: Name, dtype: object

In [587]:
# cleaning email
pattern=r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
df.loc[18,'Email']='hashir'

df.loc[~df['Email'].str.fullmatch(pattern,na=False),'Email']='Invalid Mail'
df

,ID,Name,Email,Phone_no,Country,Age,Salary,Join_Date
0,681,Heather Davila,igill@bryant-roberts.com,001-857-363-5728x7886,Inda,NaN,54349.0,2019-04-01
1,1103,Margaret Campbell,bergjack@martinez-reeves.com,NaN,India,NaN,NaN,15-03-2022
2,395,Veronica Wilson,jeffreychavez@gmail.com,664-303-1980x024,United States,80.0,NaN,2021/07/15
3,931,Matthew Mcguire,angelahorne@cordova.com,(593)187-8319x8297,India,NaN,186523.0,2018-02-22 16:56:46
4,498,Anne Gentry,april19@dawson.com,650.600.0111,Pak,NaN,156760.0,2021/07/15
...,...,...,...,...,...,...,...,...
1245,1045,William Carr,scottmendez@gomez.com,001-657-547-4414x736,Pakistan,74.0,91550.0,2021/07/15
1246,1096,Nicole Donovan,nmoore@hotmail.com,044-569-7926x34325,Germny,30.0,57504.0,2018-02-05
1247,1131,Deborah Brooks,Invalid Mail,7383970825,Pak,NaN,44270.0,2017-03-31
1248,861,Hannah Davis,candace91@yahoo.com,698.459.9495,Canada,NaN,162748.0,2017-07-19
1249,1127,Tracey Martinez,kimberlydudley@yahoo.com,811.170.5752,India,NaN,12938.0,15-03-2022

In [588]:
# cleaning phone no

df['Phone_no']=(df['Phone_no']
                .str.replace(r'(x|ext\.?).*$', '', regex=True, case=False)
                .str.replace(r'[^0-9+\-]', '', regex=True)
                .str.replace(r'-{2,}', '-', regex=True)
                .str.strip('-')
                .apply(lambda x: '+' + x.lstrip('+0') if pd.notna(x) else x))


# done fully using gpt//?

In [589]:
# cleaning salary and age

df["Salary"]=df['Salary'].replace(np.nan,df['Salary'].mean()).astype('int')
df['Age']=df['Age'].replace(np.nan,0)
df["Age"]=df['Age'].interpolate(method='akima').astype('int')
df['Join_Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1250 entries, 0 to 1249
Series name: Join_Date
Non-Null Count  Dtype
--------------  -----
1250 non-null   object
dtypes: object(1)
memory usage: 9.9+ KB

In [590]:
# cleaning time

# df['Join_Date']=df['Join_Date'].str.replace(r'([+-]\d{2}:?\d{2}|Z)$','',regex=True)
df['Join_Date'] = (df['Join_Date']
                   .astype(str)
                   .str.replace(r'([+-]\d{2}:?\d{2}|Z)$', ' ', regex=True)
                    .str.replace(r'[\/\.]', '-', regex=True)
                    .str.strip()
                    .str.replace(r'[^\w\s:-]', '', regex=True))
df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce', infer_datetime_format=True)
df['Join_Date'] = df['Join_Date'].fillna(pd.Timestamp('2024-01-01'))


df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11468\3863387375.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce', infer_datetime_format=True)

,ID,Name,Email,Phone_no,Country,Age,Salary,Join_Date
0,681,Heather Davila,igill@bryant-roberts.com,+1-857-363-5728,Inda,0,54349,2019-04-01
1,1103,Margaret Campbell,bergjack@martinez-reeves.com,NaN,India,0,66604,2024-01-01
2,395,Veronica Wilson,jeffreychavez@gmail.com,+664-303-1980,United States,80,66604,2021-07-15
3,931,Matthew Mcguire,angelahorne@cordova.com,+593187-8319,India,0,186523,2024-01-01
4,498,Anne Gentry,april19@dawson.com,+6506000111,Pak,0,156760,2021-07-15
...,...,...,...,...,...,...,...,...
1245,1045,William Carr,scottmendez@gomez.com,+1-657-547-4414,Pakistan,74,91550,2021-07-15
1246,1096,Nicole Donovan,nmoore@hotmail.com,+44-569-7926,Germny,30,57504,2018-02-05
1247,1131,Deborah Brooks,Invalid Mail,+7383970825,Pak,0,44270,2017-03-31
1248,861,Hannah Davis,candace91@yahoo.com,+6984599495,Canada,0,162748,2017-07-19
1249,1127,Tracey Martinez,kimberlydudley@yahoo.com,+8111705752,India,0,12938,2024-01-01

In [ ]:
df['Country'].nunique().index

13